* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: rgb(0, 0, 0);
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div {
    color: black;
    background-color: aliceblue;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 5px rgb(102, 102, 102);
    padding: 12px
}

label {
    width: 150px;
    padding: 5px 0;
}